USE [master]
GO
/****** Object:  Database [TravelRequisitionSystem]    Script Date: 28/08/2022 11:22:31 PM ******/
CREATE DATABASE [TravelRequisitionSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TravelRequisitionSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TravelRequisitionSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TravelRequisitionSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TravelRequisitionSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TravelRequisitionSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TravelRequisitionSystem]
GO
USE [TravelRequisitionSystem]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 28/08/2022 11:22:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requisitions]    Script Date: 28/08/2022 11:22:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requisitions](
	[RequisitionId] [int] IDENTITY(1,1) NOT NULL,
	[RequisitionNumber] [nvarchar](50) NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[SourceLocation] [nvarchar](100) NOT NULL,
	[SourceCountry] [int] NOT NULL,
	[DestinationLocation] [nvarchar](100) NOT NULL,
	[DestinationCountry] [int] NOT NULL,
	[ProposedDepartureDateAndTime] [datetime2](7) NOT NULL,
	[TravelClass] [int] NOT NULL,
	[TripType] [int] NOT NULL,
	[ChargeCode] [nvarchar](20) NOT NULL,
	[TravelerName] [nvarchar](100) NOT NULL,
	[RequisitionStatus] [int] NOT NULL,
	[DateUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK_Requisitions] PRIMARY KEY CLUSTERED 
(
	[RequisitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
